<!DOCTYPE HTML>
<html>
<head>
    <title>VCI Insights</title>
    <link href="${base}/res/site/style/default.css" rel="stylesheet" type="text/css">
    <link href="${base}/res/site/style/style.css" rel="stylesheet" type="text/css">
</head>

<div>
<#include "/site/components/title.html"/>
<#include "/site/components/navbar.html"/>

<div class="maincontent pt70">
    <div class="wrap pb50"><img src="${base}/res/site/images/insights-tit.jpg"></div>

    <div class="insights-list">
        <ul><#if data??><#if data.items??> <#list data.items as item>
            <li>
                <a href="/insights/id_${item.nid}" target="_blank">
                    <article class="leftcon">
                        <p class="tit">${item.nlable}</p>
                        <p class="tit-2">${item.title}</p>
                        <article class="maincon">
                            ${item.ndigest}
                        </article>
                    </article>
                    <span class="img"><img src="/upload/news/PIC_${item.nid}.jpg" width="329" height="264"></span>
                </a>
            </li></#list></#if></#if>
        </ul>
    </div>

    <div class="wrap">
      <div class="pages">
        <#if data??><#if data.items??>
            <!-- 导入自定义ftl -->
            <#import "/ftl/page.ftl" as p/>
            <!-- 使用该标签 -->
            <@p.pager data "/insights" {} 3/>
        </#if></#if>
      </div>
    </div>
</div>
<#include "/site/components/footer.html"/>
</body>
</html>
