<!DOCTYPE HTML>
<html>
<head>
    <title>VCI_Insights</title>
    <link href="${base}/res/site/style/default.css" rel="stylesheet" type="text/css">
    <link href="${base}/res/site/style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<#include "/site/components/title.html"/>
<#include "/site/components/navbar.html"/>

<div class="maincontent pt30">
    <!--  one -->
    <div class="wrap">
        <div class="mainright fl">
            <div class="tit">${newsDetail.nlable}</div>
            <div class="con-3">
                <p class="tit-3">${newsDetail.title}</p>
                <article>
                    ${newsDetail.ndigest}
                </article>
            </div>

            <div class="comment-tit">
                <div class="design_tx fl"><img src="/upload/news/AUTH_${newsDetail.nid?c}.jpg" onerror="this.src='${base}/res/site/images/tx.jpg'" width="60" height="60"></div>
                <div class="username fl pl20">${newsDetail.author}</div>
                <div class="time fl pl20">${newsDetail.endate}</div>
                <div class="shareicon">
                    <ul>
                        <li><a class="jiathis_button_email"><img src="${base}/res/site//images/btn3.png" width="47" height="50"></a></li>
                        <li><a><img src="${base}/res/site/images/btn2.png" width="47" height="50"></a></li>
                        <li><a class="jiathis_button_linkedin"><img src="${base}/res/site/images/btn1.png" width="47" height="50"></a></li>
                    </ul>
                </div>
            </div>

            <div class="f16px lh24">
                ${newsDetail.content}
            </div>

            <div class="comment-bt">
                <div class="fl f16px lh24 pt30 underline imp"><a href="/insights/" target="_blank">Go to VCI Insights</a></div>
                <div class="shareicon pt10">
                    <ul>
                        <li><a class="jiathis_button_email"><img src="${base}/res/site/images/btn3.png" width="47" height="50"></a></li>
                        <li><a><img src="${base}/res/site/images/btn2.png" width="47" height="50"></a></li>
                        <li><a class="jiathis_button_linkedin"><img src="${base}/res/site/images/btn1.png" width="47" height="50"></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="mainleft fr">
            <#if pdfList??><#list pdfList as item>
                    <div class="lansebj">
                        <div class="pdfimg"><img src="/upload/news/pdf/IMG_${item.pid}?c.jpg" width="270" height="360"> </div>
                    </div></#list>
            </#if>
            <div class="down p20">
                <#if pdfList??><#list pdfList as item>
                    <p class="btn">
                        <!--
                        <#if member??>
                        <a href="/front/downpdfUpload.action?id=${item.pid}">Download full report</a>
                        <#else>
                        <a href="javascript:void(0);" onclick="openLoginLayer();">Download full report</a>
                        </#if>
                        -->
                        <a href="/front/downpdfUpload.action?id=${item.pid}?c">Download full report</a>
                    </p>
                </#list></#if>
                <p class="btn-2"><a href="/insights/">About VCI Insights </a></p>
                <p class="red f16px pb20 pt10"><a href="/insights/">Go to VCI Insights</a></p>
            </div>
        </div>
    </div>
</div>

<#include "/site/components/footer.html"/>
<script type="text/javascript" src="${base}/res/site/js/common_login.js"></script>
</body>
</html>
