<!DOCTYPE HTML>
<html>
<head>
    <title>Marketing With Us</title>
    <link href="${base}/res/site/style/default.css" rel="stylesheet" type="text/css">
    <link href="${base}/res/site/style/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<#include "/site/components/title.html"/>
<#include "/site/components/navbar.html"/>
<div class="maincontent"  >
    <div class="banner_b">
        <div class="i_adbanner_2">
            <div id="KinSlideshow_2">
                <div id="banner_2"> <img src="${base}/res/site/images/marketingwithus-1.jpg" title=" "/> </div>
            </div>
        </div>
    </div>
    <div class="wrap">
        <#if article??>${article.content}</#if>
    </div>
</div>
<#include "/site/components/footer.html"/>
<script type="text/javascript" src="${base}/res/site/js/jquery.lazyload.js"></script>
<script type="text/javascript">
    $("img.lazy").lazyload({
        effect : "fadeIn"
    });
</script>
</body>
</html>