<div class="topbj">
    <div class="wrap">
        <div class="logo"><img src="${base}/res/site/images/logo.png" width="248" height="83"></div>
        <div class="r-list">
            <!-- @have no login -->
            <div class="one-t fr">
                <span class="pt10">Follow us </span>
                <span class="weixin"><img src="${base}/res/site/images/linkpng_01.png" width="25" height="25"></span>
                <span><a href="http://www.linkedin.com/company/10445529?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A2263017871455861867563%2CVSRPtargetId%3A10445529%2CVSRPcmpt%3Aprimary"><img src="${base}/res/site/images/linkpng_02.png" width="25" height="25"></a></span>
            </div>
            <div class="ewm" style="display:none;opacity:0;">
                <div class="wz">
                    <p>VCIntegration 致力于提供供应链的前沿咨讯，服务企业的刚性需求和痛点，并促进企业和服务商之间的协作共赢。</p>
                    <p>&nbsp;</p>
                    <p>关注VCI官方微信，获取最前沿的资讯和最深度的报告！</p>
                    <p>&nbsp;</p>
                    <p>微信号：VCIntegration</p>
                </div>
                <div class="fl"><img src="${base}/res/site/images/ewmjpg.jpg" width="206" height="206"></div>
            </div>

            <!-- member不为空说明已登录 -->
            <#if member??>
                <div class="two-t" align="right">
                    <a href="/members/" style="color:#FFFFFF;"><img src="${base}/res/site/images/images_021.jpg" width="24" height="26" align="absmiddle" class="pr15"><!--$member.username--></a>
                </div>
                <div class="two-t" align="right">
                    <input class="btn" type="button" value="LOGIN OUT" onclick="window.location.href='/member/logout'">
                </div>
            <#else>
                <div class="two-t" align="right">
                    <form action="/member/dologin/" id="Top_Login_From">
                        <ul>
                            <li>
                                <input class="inp" type="text" name="username" autocomplete="off" placeholder="Username">
                            </li>
                            <li>
                                <input class="inp" type="password" name="password" autocomplete="off" placeholder="Password" >
                            </li>
                            <li>
                                <input class="btn" type="button" value="LOGIN" id="Top_Login_From_Submit" onclick="login();">
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="thr-t"><span><a href="javascript:void(0)" onclick="openStep1Layer();">Forget Password </a></span><span><a href="/member/regist">Register</a> </span></div>
            </#if>
        </div>
    </div>
</div>