<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodcub.vci.mapper.AdvertiseMapper">

    <select id="queryAdvertiseVoList" resultType="com.goodcub.vci.vo.admin.AdvertiseVO" parameterType="java.util.Map">
        select * from advertise
        <where>
            <if test="adtitle!=null">
                adtitle like concat('%',#{adtitle},'%')
            </if>
        </where>
    </select>

    <insert id="insertAdvertise" parameterType="com.goodcub.vci.entity.Advertise" >
        insert into advertise (adid, adtitle, adurl, cover_img, status, sindex, addtime)
        values (
        #{adid:INTEGER},
        #{adtitle:VARCHAR},
        #{adurl:VARCHAR},
        #{coverImg:VARCHAR},
        #{status:VARCHAR},
        #{sindex:INTEGER},
        #{addtime:TIMESTAMP}
        )
    </insert>

    <update id="updateAdvertise" parameterType="com.goodcub.vci.entity.Advertise" >
        update advertise
        <set>
            <if test="adtitle!=null">
                adtitle = #{adtitle:VARCHAR},
            </if>
            <if test="adurl" >
                adurl = #{adurl:VARCHAR},
            </if>
            <if test="coverImg" >
                cover_img = #{coverImg:VARCHAR},
            </if>
            <if test="sindex" >
                sindex = #{sindex:VARCHAR},
            </if>
            <if test="status" >
                status = #{status:VARCHAR},
            </if>
        </set>
        where adid = #{adid:INTEGER}
    </update>

    <!-- 批量删除 -->
    <delete id="deleteAdvertise" parameterType="java.util.List">
        delete from advertise where adid in
        <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <!-- 网页端查询 -->
    <select id="queryAdvertiseFrontVoList" resultType="com.goodcub.vci.vo.site.AdvertiseFrontVO" parameterType="java.util.Map">
        select adurl,cover_img from advertise
        <where>
            status = 'NORMAL'
        </where>
    </select>

</mapper>
