<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodcub.vci.mapper.MemberEmailLogsMapper">

    <insert id="insertEmailLogs" parameterType="com.goodcub.vci.entity.MemEmailLogs">
        insert into vci_member_email_logs (melid,memid,email,code,stype,state,addtime)
        values (#{melid:BIGINT}, #{memid:BIGINT}, #{email:VARCHAR}, #{code:VARCHAR}, #{stype:INTEGER}, #{state:VARCHAR}, #{addtime:TIMESTAMP})
    </insert>

    <update id="updateEmailLogs" parameterType="com.goodcub.vci.entity.MemEmailLogs">
        update vci_member_email_logs set state=#{state} where memid = #{memid}
    </update>


    <select id="queryOneById" resultType="com.goodcub.vci.entity.MemEmailLogs">
        select * from vci_member_email_logs where melid = #{melid}
    </select>

    <select id="registValidateEmail" resultType="com.goodcub.vci.entity.MemEmailLogs">
        select * from vci_member_email_logs where melid = #{melid} and stype=0
    </select>

    <select id="changePasswordEmail" resultType="com.goodcub.vci.entity.MemEmailLogs">
        select * from vci_member_email_logs where melid = #{melid} and stype=1
    </select>

    <select id="queryAllEmailLogs" resultType="com.goodcub.vci.entity.MemEmailLogs" parameterType="java.util.Map" >
        select  a.* from vci_member_email_logs a order by a.memid DESC
    </select>

</mapper>
