<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodcub.vci.mapper.NewsMapper">

    <!-- 查询单篇文章类型信息 -->
    <select id="querySingleNews" resultType="com.goodcub.vci.vo.admin.SingleNewsVO">
        SELECT nid,ptitle,pkeywords,pdescription,content FROM news WHERE ntype=#{ntype} limit 1
    </select>

    <!-- 更新单篇文章信息的内容字段 -->
    <update id="updateSingleNews" parameterType="com.goodcub.vci.entity.News">
        update news
        <set>
            <if test="ptitle!=null">
                ptitle = #{ptitle},
            </if>
            <if test="pkeywords!=null">
                pkeywords = #{pkeywords},
            </if>
            <if test="pdescription!=null">
                pdescription = #{pdescription},
            </if>
            <if test="content!=null">
                content = #{content},
            </if>
        </set>
        <where>
            nid = #{nid}
        </where>
    </update>

    <select id="queryNewsList" parameterType="java.util.Map" resultType="com.goodcub.vci.vo.admin.NewsListVO">
        select
          nid, ntype, title, author, sindex, ifindex, viewcount, pubtime, cover_img, author_img
        from news
          <where>
              <if test="ntype != null">
                  ntype = #{ntype}
              </if>
              <if test="title != null">
                  and title like concat('%',#{title},'%')
              </if>
          </where>
    </select>



</mapper>
