<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodcub.vci.mapper.NewsMapper">

    <!-- 查询单篇文章类型信息 -->
    <select id="querySingleNews" resultType="com.goodcub.vci.vo.admin.SingleNewsVO">
        SELECT nid,ptitle,pkeywords,pdescription,content FROM news WHERE ntype=#{ntype} limit 1
    </select>

    <!-- 更新单篇文章信息的内容字段 -->
    <update id="updateSingleNews" parameterType="com.goodcub.vci.entity.News">
        update news
        <set>
            <if test="ptitle!=null">
                ptitle = #{ptitle},
            </if>
            <if test="pkeywords!=null">
                pkeywords = #{pkeywords},
            </if>
            <if test="pdescription!=null">
                pdescription = #{pdescription},
            </if>
            <if test="content!=null">
                content = #{content},
            </if>
        </set>
        <where>
            nid = #{nid}
        </where>
    </update>

    <!-- 通用的新闻列表查询 -->
    <select id="queryNewsList" parameterType="java.util.Map" resultType="com.goodcub.vci.vo.admin.NewsListVO">
        select
        nid, ntype, title, author, sindex, ifindex, viewcount, pubtime, cover_img, author_img
        from news
        <where>
            <if test="ntype != null">
                ntype = #{ntype}
            </if>
            <if test="title != null">
                and title like concat('%',#{title},'%')
            </if>
        </where>
    </select>

    <!-- 后台首页的新闻列表查询 -->
    <select id="queryNewsAdminIndexList" parameterType="java.util.Map" resultType="com.goodcub.vci.vo.admin.NewsListVO">
        select
        nid, ntype, title, author, sindex, ifindex, viewcount, pubtime, cover_img, author_img
        from news
        <where>
            ntype in('INSIGHTS', 'EVENTS', 'STORIES')
        </where>
    </select>

    <!-- 添加新闻信息 -->
    <insert id="insertNews" parameterType="com.goodcub.vci.entity.News" >
        insert into news (nid, ntype, title, sindex, author, viewcount, pubtime, content, ifindex, ptitle, pdescription, pkeywords, cover_img, author_img)
        values (#{nid:BIGINT}, #{ntype:VARCHAR}, #{title:VARCHAR}, #{sindex:INTEGER}, #{author:VARCHAR}, #{viewcount:INTEGER},
        #{pubtime:TIMESTAMP}, #{content:LONGVARCHAR}, #{ifindex:VARCHAR}, #{ptitle:VARCHAR}, #{pdescription:VARCHAR}, #{pkeywords:VARCHAR}, #{coverImg:VARCHAR}, #{authorImg:VARCHAR})
    </insert>

    <!-- 添加新闻附加信息 -->
    <insert id="insertNewsExt" parameterType="com.goodcub.vci.entity.NewsExt" >
      insert into news_ext (nid,nlable,ndigest,endate,province,city,video,txt1,txt2,txt3,txt4,txt5,txt6)
      values (#{nid:BIGINT}, #{nlable:VARCHAR}, #{ndigest:VARCHAR}, #{endate:VARCHAR}, #{province:VARCHAR}, #{city:VARCHAR},
      #{video:VARCHAR},#{txt1:VARCHAR}, #{txt2:VARCHAR}, #{txt3:VARCHAR}, #{txt4:VARCHAR}, #{txt5:VARCHAR}, #{txt6:VARCHAR})
    </insert>

    <!-- 查询新闻详情 -->
    <select id="queryNewsInfoByNid" resultType="com.goodcub.vci.vo.admin.NewsInfoVO">
        select
            n.nid,
            n.ntype,
            n.title,
            n.author,
            n.content,
            n.cover_img,
            n.author_img,
            n.sindex,
            n.ifindex,
            n.viewcount,
            n.cover_img,
            n.author_img,
            n.ptitle,
            n.pdescription,
            n.pkeywords,
            n.pubtime,

            e.nlable,
            e.ndigest,
            e.endate,
            e.province,
            e.city,
            e.video,
            e.txt1,
            e.txt2,
            e.txt3,
            e.txt4,
            e.txt5,
            e.txt6
        from
          news as n
          left join news_ext as e on n.nid = e.nid
        <where>
            n.nid = #{nid}
        </where>
    </select>

    <!-- 更新新闻信息 -->
    <update id="updateNews" parameterType="com.goodcub.vci.entity.News" >
        update news
        <set>
            <if test="ptitle != null">
                ptitle = #{ptitle:VARCHAR},
            </if>
            <if test="pdescription != null">
                pdescription = #{pdescription:VARCHAR},
            </if>
            <if test="pkeywords != null">
                pkeywords = #{pkeywords:VARCHAR},
            </if>
            <if test="title != null">
                title = #{title:VARCHAR},
            </if>
            <if test="sindex != null">
                sindex = #{sindex:INTEGER},
            </if>
            <if test="author != null">
                author = #{author:VARCHAR},
            </if>
            <if test="content != null">
                content = #{content:LONGVARCHAR},
            </if>
            <if test="viewcount != null">
                viewcount = #{viewcount:INTEGER},
            </if>
            <if test="coverImg != null">
                cover_img = #{coverImg:INTEGER},
            </if>
            <if test="authorImg != null">
                author_img = #{authorImg:INTEGER},
            </if>
        </set>
        where nid = #{nid:BIGINT}
    </update>

    <!-- 更新新闻附加信息 -->
    <update id="updateNewsExt" parameterType="com.goodcub.vci.entity.NewsExt">
        update news_ext
        <set>
            <if test="nlable != null">
                nlable = #{nlable:VARCHAR},
            </if>
            <if test="video != null">
                video = #{video:VARCHAR},
            </if>
            <if test="ndigest != null">
                ndigest = #{ndigest:VARCHAR},
            </if>
            <if test="endate != null">
                endate = #{endate:VARCHAR},
            </if>
            <if test="province != null">
                province = #{province:VARCHAR},
            </if>
            <if test="city != null">
                city = #{city:VARCHAR},
            </if>
            <if test="txt1 != null">
                txt1 = #{txt1:VARCHAR},
            </if>
            <if test="txt2 != null">
                txt2 = #{txt2:VARCHAR},
            </if>
            <if test="txt3 != null">
                txt3 = #{txt3:VARCHAR},
            </if>
            <if test="txt4 != null">
                txt4 = #{txt4:VARCHAR},
            </if>
            <if test="txt5 != null">
                txt5 = #{txt5:VARCHAR},
            </if>
            <if test="txt6 != null">
                txt6 = #{txt6:VARCHAR},
            </if>
        </set>
        where nid = #{nid:BIGINT}
    </update>

    <!-- 根据新闻ID加载Photo列表-->
    <select id="queryPhotosByNid" resultType="com.goodcub.vci.vo.admin.NewsPhotoListVO">
        select * from news_photos where nid = #{nid}
    </select>

    <!-- 根据新闻ID加载Pdf列表-->
    <select id="queryPdfByNid" resultType="com.goodcub.vci.vo.admin.NewsPdfVO">
        select * from news_pdf where nid = #{nid}
    </select>

    <!-- 批量插入Photo信息-->
    <insert id="batchInsertPhotoList" parameterType="java.util.List">
        insert into news_photos(pid, nid, sindex, ptitle, img_path, psize, downcount, uptime)
        values(#{pid:BIGINT}, #{nid:BIGINT}, #{sindex:INTEGER}, #{ptitle:VARCHAR},#{imgPath:VARCHAR},#{psize:VARCHAR},#{downcount:INTEGER},#{uptime:TIMESTAMP})
    </insert>

    <!-- 批量插入PDF信息-->
    <insert id="batchInsertPdfList" parameterType="java.util.List">
        insert into news_pdf(pid, nid, name,pdf_path,source, psize,isdisplay,isupfile,state,pdfname, intor, sindex, downcount, addtime)
	    values(#{pid:INTEGER}, #{nid:INTEGER},#{name:VARCHAR},#{pdfPath:VARCHAR},#{source:VARCHAR},#{psize:VARCHAR},
	    #{isdisplay:VARCHAR},#{isupfile:VARCHAR},#{state:VARCHAR},#{pdfname:VARCHAR},#{intor:VARCHAR},#{sindex:INTEGER},
	    #{downcount:INTEGER},#{addtime:TIMESTAMP})
    </insert>

    <!-- 批量删除新闻信息-->
    <delete id="deleteNewsByNids" parameterType="java.util.List">
        delete from news
        <where>
            nid in
            <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>

    <!-- 批量删除新闻信息-->
    <delete id="deleteNewsExtByNids" parameterType="java.util.List">
        delete from news_ext
        <where>
            nid in
            <foreach collection="idList" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </where>
    </delete>

    <select id="countTotal" resultType="java.lang.Integer">
        select count(1) from news where ntype in('INSIGHTS', 'EVENTS', 'STORIES')
    </select>

    <!-- /////////////////////////////////////////////////////////////////////// 后台管理SQL到此为止 ///////////////////////////////////////////////////////////// -->


    <!-- /////////////////////////////////////////////////////////////////////// 前台页面SQL从此开始 ///////////////////////////////////////////////////////////// -->
    <!-- 前台的新闻列表查询 -->
    <select id="queryNewsFrontList" parameterType="java.util.Map" resultType="com.goodcub.vci.vo.site.NewsListFrontVO">
        select
        n.nid, e.nlable, e.endate, e.city, e.province, e.ndigest, n.title, n.pubtime
        from news as n
        inner join news_ext as e on e.nid = n.nid
        <where>
            <if test="ntype != null">
                n.ntype = #{ntype}
            </if>
        </where>
    </select>

    <!-- 前台的新闻详情查询 -->
    <select id="queryNewsFrontInfo" parameterType="java.lang.Long" resultType="com.goodcub.vci.vo.site.NewsFrontVO">
     select
         n.nid as nid,
         n.ntype as ntype,
         n.title as title,
         n.ifindex as ifindex,
         n.viewcount asviewcount,
         n.content as content,
         n.author as  author,
         n.ptitle as ptitle,
         n.pkeywords as pkeywords,
         n.pdescription as pdescription,

         ext.nlable as nlable,
         ext.endate as endate,
         ext.province as province,
         ext.city as city,
         ext.ndigest as ndigest,
         ext.video as video,
         ext.txt1 as txt1,
         ext.txt2 as txt2,
         ext.txt3 as txt3,
         ext.txt4 as txt4,
         ext.txt5 as txt5,
         ext.txt6 as txt6
     from news as n
         inner join news_ext as ext on ext.nid = n.nid
     where
         n.nid = #{nid}
    </select>

    <!-- 前台的单篇内容 -->
    <select id="queryArticleFrontInfo" parameterType="java.lang.String" resultType="com.goodcub.vci.vo.site.ArticleFrontVO">
        select
            ptitle,
            pdescription,
            pkeywords,
            content
        from news
        where
           ntype = #{ntype}
        limit 1
    </select>

    <!-- 前台的PartnerList -->
    <select id="queryPartnerFrontList" parameterType="java.util.Map" resultType="com.goodcub.vci.vo.site.PartnerFrontVO">
        select
            ptitle,
            pdescription,
            pkeywords,
            nid,
            author,
            content
        from news
        where
           ntype = #{ntype}
    </select>

    <!-- 更新文章阅读次数 -->
    <update id="updateViewCount" parameterType="java.lang.Long">
		update news set viewcount = viewcount+1
		where nid = #{nid}
	</update>

</mapper>
